.header {
    border: 1px solid;
}

.header__title {
    font-size: 50px;
    background-color: #42694f;
    color: white;
    border: 1px solid;
    }

    .header__menu1_item>ul>li {
    display: flex;
    list-style: none;
    justify-content: space-between ;
    background-color:#42694f;
    border: 1px solid;
}

.header__menu1_item>ul {
    display: flex;
    list-style: none;
    justify-content: space-between ;
    border: 1px solid;
}

body{
    background: orangered;
}

.header__menu2_item>ul>li {
    display: flex;
    list-style: none;
    justify-content: space-between ;
    border: 1px solid;
}

.header__menu2_item>ul {
    display: flex;
    list-style: none;
    justify-content: space-between ;
    border: 1px solid;
}
.main__item img {
    width: 250px;
    height: 175px;
}

.main__item >ul{
    display: flex;
    justify-content: space-between ;
    list-style: none;
}

